<header class="site-category">
    <ul class="category-list">
        {% assign pages_list = site.pages %}
        {% for node in pages_list %}
            {% if node.title != null %}
                {% if node.layout == "category" %}
                    <li class="category-item {% if page.url == node.url %}active{% endif %}">
                        <a href="{{ site.baseurl }}{{ node.url }}">
                            {{ node.title }}
                            {% assign category_posts = site.categories[node.title] %}
                            <span class="count">({{ category_posts.size }})</span>
                        </a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
</header> 